@model Product

<div class="container">
    <div class="mt-5 p-5 border border-2 border-dark">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Product Name</label>
                <input asp-for="Name" type="text" class="form-control" id="Name" disabled>
            </div>
            <div class="mb-3">
                <label asp-for="Code" class="form-label">Product Code</label>
                <input asp-for="Code" type="text" class="form-control" id="Code" disabled>
            </div>
            <div class="mb-3">
                <label asp-for="Type" class="form-label">Product Type</label>
                <input asp-for="Type" type="text" class="form-control" id="Type" disabled>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" type="number" class="form-control" id="Price" disabled>
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>